@media (max-width: 480px) {
    html {
        background-color: aliceblue;
    }
    .main-container {
        flex-wrap: wrap;
    }
    body {
        margin: 3rem;
    }

}

body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin: 10px
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    max-width: 100%;
}


nav ul {
    list-style: none;
    text-align: right;
    padding-right: 5px;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin: 2px;
}

a {
    display: block;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: hotpink;
    text-decoration: underline;
}

section {
    display: flex;
    gap: 10px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: none;
}

article {
    flex; 1; 
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

aritcle image {
    max-width: 100%;
}

img {
    width: 100%;
}

.site-logo {
    height: 300px;
    width: 300px;
    margin: 20px;
}

#banner {
    background-color: white;
    padding: 10px;
    margin: 20px;
}

#banner:hover {
    background-color: #3e3e3e;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.main-container {
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    width: 420px;
    padding: 10px;
    margin: 10px;
}

.container-image {
    height: 270px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 10px;
}

.container-2 {
    background-image: url(../img/news.jpg);
} 

.container-3 {
    background-image: url(../img/sport.jpg);
}

.container-4 {
    background-image: url(../img/travel.jpg);
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer div p {
    text-align: left;
}